<!--
  Checkbox Trickery with CSS:
  http://codersblock.com/blog/checkbox-trickery-with-css/ 
-->

<div class="container">
    <h1>My To-Do List</h1>
    <div class="form-group">
        <input type="text" placeholder="New task..." [(ngModel)]="task" (keyup.enter)="addTask()">
        <div class="items previsualization" *ngIf="task">
            <label>{{ task }}</label>
        </div>
        <h3 class="text-center" *ngIf="loading">Loading...</h3>
    </div>
    <div class="items">

        <div>
            <h2 class="done">Done</h2>
            <div *ngFor="let task of tasks">
                <div *ngIf="task.done">
                    <input [id]="task.name" type="checkbox" checked (click)="cancelTask(task)">
                    <label [for]="task.name">{{ task.name }}</label>
                </div>
            </div>
        </div>
        <div>
            <h2 class="undone" aria-hidden="true">Not Done</h2> 
                <div *ngFor="let task of tasks">
                    <div *ngIf="!task.done">
                        <input [id]="task.name" type="checkbox" (click)="completeTask(task)">
                        <label [for]="task.name">{{ task.name }}</label>
                    </div>
                </div>
        </div>
    </div>
</div>